{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
</head>
<body>
    <section class="form-container" style="height: 560px !important;">
        <form action="login" method="post">
            {% csrf_token %}
            <div class="form1">
                <div class="rowdir">
                    <label>User Name</label>
                    <input type="text" name="username"><br>
                </div>
                <div class="rowdir">
                    <label>Password</label>
                    <input type="password" name="password"><br>
                </div>
               
                <div class="rowdir">
                    <input class="button-29" type="submit">
                </div>
                <p>Not registerd <a href="{% url 'register' %}">register</a></p>
            </div>
        </form>
    </section>

    <!-- Popup container -->
    {% if messages %}
    <dialog id="dial" open="true">
        <div class="popup" id="myPopup">
            <div class="popup-content">
                <span class="close" onclick="closePopup()">×</span>
                <p id="popup-message">
            </div>
        </div>
    </dialog>
    {% endif %}
        
    <script>
        // Function to close the popup
        function closePopup() {
            document.getElementById("myPopup").style.display = "none";
            document.getElementById("dial").open=false;
        }

        // Function to show the popup with a specific message
        function showPopup(message) {
            document.getElementById("popup-message").textContent = message;
            document.getElementById("myPopup").style.display = "block";
        }
        

    </script>
    {% if messages %}
            {% for message in messages %}
            <script>
                showPopup("{{ message }}");
            </script>
            {% endfor %}
    {% endif %}

</body>
</html>
